@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0;
  padding: 0;
  @apply bg-gray-800;
}
.login {
  font-family: "Poppins", sans-serif;
}
.learnify {
  font-family: "Poppins", sans-serif;
}
